@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heade{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding : 3px;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    z-index: 6px;
}
.header-location{
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  .transition-scroll{
    transform-origin: left;
    transition-delay: 1000ms;
    transition-duration: 2s;
  }
  .Hero{
    margin-top: 4em;
    height: 27em;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }
  .side__arrow{
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.56);
  }
  .side__arrow:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.56);
  }
  .circle__blob{
      padding: 5%;
      width: 85em;
      height: 40em;
      margin: -15px;
      mix-blend-mode: multiply;
      background: linear-gradient(45deg, #ff04 0%, #00ff00 100%);
        border-radius: 60% 80% 30% 70% / 60% 38% 70% 40%;
  }
  .circle__blob-inner{
    margin-top: 2em;
    margin-left: 4em;
    mix-blend-mode: multiply;
    border-radius: 60% 80% 30% 70% / 60% 38% 70% 40%;
    padding:7%;
    background-color: blue;
    
  }
  .circle__blob-inner h1{
    background: none;
    color: white;
  }