@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heade{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding : 3px;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    z-index: 6px;
}
.header-location{
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  .transition-scroll{
    transform-origin: left;
    transition-delay: 1000ms;
    transition-duration: 2s;
  }
  .Hero{
    border-radius: 6px;
    display: flex;
    /* align-items: center; */
  }
  .side__arrow{
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.56);
  }
  .side__arrow:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.56);
  }
  .circle__blob{
      padding: 5%;
      width: 85em;
      height: 40em;
      /* margin: -15px; */
      /* mix-blend-mode: multiply; */
      /* background: linear-gradient(#c9ffdb, #f9fdc8); */
      border: 2px bold black;
      border-radius: 60% 80% 30% 70% / 60% 38% 70% 40%;
  }
  .circle__blob-inner{
    margin-top: 2em;
    margin-left: 1em;
    /* mix-blend-mode: multiply; */
    border-radius: 60% 80% 30% 70% / 60% 38% 70% 40%;
    padding:7%;
    /* background-color: #4e4376; */
    
  }
  .circle__blob-inner h1{
    background: none;
    color: white;
  }
  .blob {
    position: absolute;
    left: 1;
    top: 0;
    width: 700px;
    height: 300px;
    -webkit-filter: blur(30px);
    filter: blur(55px);
    box-shadow:
    inset 0 0 0 5px rgba(255,255,255, 0.6),
    inset 100px 100px 0 0px #fa709a,
    inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    transform: translate(-100px, -50px) rotate(160deg);
    border-radius: 84% 20% 2% 120% / 27% 36% 64% 63%;
  }
  